* {
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  /* border: 1px solid black; */
  border-radius: 8px;
  /* padding: 10px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 80px auto;
  color: #fff;
  background: rgb(11, 83, 11);
  overflow: hidden;
  font-weight: 700;
}

/* div {
  display: inline;
  background: red;
} */

#all {
  display: flex;
  justify-content: center; /* Center the divs horizontally */
  align-items: center; /* Center the divs vertically */
}

/* You can adjust the styling of individual divs as needed */
#panel, #cpu-panel, #user-panel {
  padding: 25px 20px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 8px;
  height: 150px;
  width: 110px;
}

#all {
  margin: 0 0 20px;
}

span input {
  text-align: center;
  width: 60px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background: transparent;
  color: white;
  overflow: hidden;
  border: transparent;
}


h1 {
  color: goldenrod;
  margin-bottom: 10px;
}

#message-el {
  font-style: italic;
  height: 40px;
}

.btn-uno,
.btn-dos {
  color: #000000;
  width: 150px;
  background: goldenrod;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 0;
  border: none;
  width: 50%;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.15s ease;
}

.btn-uno:hover,
.btn-dos:hover {
  box-shadow: 1px 2px 5px #000;
  transform: translateY(-2px);
  text-decoration: underline;
}

.btn-dos {
  display: none;
}

button:active {
  box-shadow: none;
  opacity: 0.7;
}

/* .unavail {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  mou
}

.unavail:active {
  opacity: 0.5;
} */

/* #both span {
  width: 200px;
  padding: 500px 10px;
  background: red;
} */