* {
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 8px;
  /* padding: 10px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 100px auto;
  color: #fff;
  background: rgb(11, 83, 11);
  overflow: hidden;
  font-weight: 700;
}

h1 {
  color: goldenrod;
  margin-bottom: 10px;
}

#message-el {
  font-style: italic;
  height: 40px;
}

.start-btn,
.newcard-btn {
  color: #000000;
  width: 150px;
  background: goldenrod;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 0;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.15s ease;
}

.start-btn:hover,
.newcard-btn:hover {
  box-shadow: 1px 2px 5px #000;
  transform: translateY(-2px);
}

.newcard-btn {
  display: none;
}

button:active {
  box-shadow: none;
  opacity: 0.7;
}

/* .unavail {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.unavail:active {
  opacity: 0.5;
} */

/* #both span {
  width: 200px;
  padding: 500px 10px;
  background: red;
} */